<div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-lg transition cursor-pointer">

  <div class="h-40 bg-gray-200">
      </div>

  <div class="p-4">
    <span class="text-xs text-primary font-medium">
      {{ event().category }}
    </span>

    <h3 class="font-semibold text-lg mt-1">
      {{ event().title }}
    </h3>

    <p class="text-sm text-gray-500 mt-1">
      {{ event().location }}
    </p>

    <p class="text-xs text-gray-400 mt-2">
      {{ event().date }}
    </p>
  </div>

</div>