.text-primary {
  color: var(--color-primary);
}

.bg-primary {
  background-color: var(--color-primary);
}

header {
  min-height: 64px;
}

@media (max-width: 767px) {
  header > div {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

